<template>
    <div class="flex justify-center items-center">
        <v-otp-input class=" gap-[12px] mt-[24px] mb-[247px]" ref="otpInput" input-classes="otp-input error-input" input-type="text"
            separator=" " :num-inputs="4" :should-auto-focus="true" :placeholder="['-', '-', '-', '-']"
            :is-disabled="isDisabled" @on-change="handleOnChange" @on-complete="handleOnComplete" />
    </div>
</template>

<script>

import VOtpInput from "vue3-otp-input";
import { ref } from "vue";

export default {
    name: 'InputOTP',

    components: {
        VOtpInput,
    },
    setup() {
        const otpInput = ref(null);
        const isDisabled = ref(false);
        const hasError = ref(false);

        const handleOnComplete = (value) => {
            console.log("OTP completed: ", value);
        };

        const handleOnChange = (value) => {
            console.log("OTP changed: ", value);
        };

        const clearInput = () => {
            otpInput.value.clearInput();
        };
        return {
            handleOnComplete,
            handleOnChange,
            clearInput,
            otpInput,
            isDisabled,
            hasError,
        };
    },

}

</script>

<style >
.otp-input {
    width: 60px;
    height: 60px;
    padding: 5px;
    margin: 0 10px;
    font-size: 20px;
    border-radius: 16px;
    border: none;
    background-color: #fafafa;
    text-align: center;
}

.otp-input::-webkit-inner-spin-button,
.otp-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
</style>