<template>
    <form @submit.prevent="submit" class="flex justify-center items-center flex-col">
        <div class="relative">
            <input v-model="username" type="text" id="username" :class="[
                this.error ? 'block w-[343px] h-[53px] pl-[60px] border border-red rounded-[100px] font-[14px] py-1 bg-grey focus:outline-none focus:border-red transition-colors peer' : 'block w-[343px] h-[53px] pl-[60px] rounded-[100px] font-[14px] py-1 bg-grey focus:outline-none peer',
            ]" />
            <label v-bind:class="[
                this.username === ''
                    ? 'absolute left-[60px] top-[15px] text-dark-grey font-[14px] cursor-text peer-focus:text-[10px] peer-focus:top-1 transition-all'
                    : 'absolute left-[60px] text-dark-grey cursor-text text-[10px] top-1 transition-all'
            ]">username</label>
            <svg class="w-[20px] h-[20px] absolute top-[16px] left-[27px]" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 101 101">
                <path
                    d="M50.4 54.5c10.1 0 18.2-8.2 18.2-18.2S60.5 18 50.4 18s-18.2 8.2-18.2 18.2 8.1 18.3 18.2 18.3zm0-31.7c7.4 0 13.4 6 13.4 13.4s-6 13.4-13.4 13.4S37 43.7 37 36.3s6-13.5 13.4-13.5zM18.8 83h63.4c1.3 0 2.4-1.1 2.4-2.4 0-12.6-10.3-22.9-22.9-22.9H39.3c-12.6 0-22.9 10.3-22.9 22.9 0 1.3 1.1 2.4 2.4 2.4zm20.5-20.5h22.4c9.2 0 16.7 6.8 17.9 15.7H21.4c1.2-8.9 8.7-15.7 17.9-15.7z" />
            </svg>

        </div>
        <div class="relative mt-[10px]">
            <input v-model="password" type="password" id="username"
                class="w-[343px] h-[53px] pl-[60px] rounded-[100px] font-[14px] py-1 bg-grey focus:outline-none transition-colors peer"
                autocomplete="off">
            <label v-bind:class="[
                this.password === ''
                    ? 'absolute left-[60px] top-[15px] text-dark-grey font-[14px] cursor-text peer-focus:text-[10px] peer-focus:top-1 transition-all'
                    : 'absolute left-[60px] text-dark-grey cursor-text text-[10px] top-1 transition-all'
            ]">Password</label>
            <svg class="w-[18px] h-[18px] absolute top-[18px] left-[27px]" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24">
                <path
                    d="M5,22H19a3,3,0,0,0,3-3V10a3,3,0,0,0-3-3H17V6A5,5,0,0,0,7,6V7H5a3,3,0,0,0-3,3v9A3,3,0,0,0,5,22ZM9,6a3,3,0,0,1,6,0V7H9ZM4,10A1,1,0,0,1,5,9H19a1,1,0,0,1,1,1v9a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1Z" />
                <circle cx="12" cy="14.5" r="2" />
            </svg>
        </div>
        <p v-if="error" class="mt-[8px] text-red text-[10px]">{{  error  }}</p>
        <button class="w-[343px] h-[53px] bg-green rounded-[100px] mt-[20px] font-semibold text-white">Masuk</button>
    </form>
    <div class="flex justify-center items-center flex-col">
        <div class="flex flex-row justify-between mt-[20px] items-center mb-[20px]">
            <div class="w-[110px] h-px bg-[#EBEBEB]"></div>
            <p class="mx-[8px] text-[12px] text-dark-grey font-semibold">Atau Login Melalui</p>
            <div class="w-[110px] h-px bg-[#EBEBEB]"></div>
        </div>
        <button
            class="flex items-center w-[343px] h-[53px] justify-center border border-green font-semibold rounded-[100px] mb-[16px]">
            <svg class="mr-[5px]" width="16" height="16" viewBox="0 0 16 16" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M3.75 8.00012C3.75 7.2074 3.96841 6.4648 4.34784 5.82896V3.13184H1.65072C0.58025 4.52209 0 6.21643 0 8.00012C0 9.7838 0.58025 11.4781 1.65072 12.8684H4.34784V10.1713C3.96841 9.53543 3.75 8.79284 3.75 8.00012Z"
                    fill="#FBBD00" />
                <path
                    d="M8 12.2502L6.125 14.1252L8 16.0002C9.78372 16.0002 11.478 15.42 12.8683 14.3495V11.6553H10.174C9.53262 12.0361 8.78691 12.2502 8 12.2502Z"
                    fill="#0F9D58" />
                <path
                    d="M4.34801 10.1709L1.65088 12.868C1.86282 13.1433 2.0936 13.4069 2.34332 13.6566C3.85432 15.1676 5.86329 15.9997 8.00016 15.9997V12.2497C6.44941 12.2497 5.09026 11.4147 4.34801 10.1709Z"
                    fill="#31AA52" />
                <path
                    d="M16 8.00013C16 7.51341 15.9559 7.02579 15.869 6.55085L15.7987 6.1665H8V9.9165H11.7954C11.4268 10.6497 10.8601 11.2478 10.174 11.6552L12.8682 14.3494C13.1435 14.1375 13.4071 13.9067 13.6568 13.657C15.1678 12.146 16 10.137 16 8.00013Z"
                    fill="#3C79E6" />
                <path
                    d="M11.0052 4.99478L11.3367 5.32622L13.9883 2.67459L13.6569 2.34316C12.1459 0.832156 10.1369 0 8 0L6.125 1.875L8 3.75C9.13519 3.75 10.2025 4.19206 11.0052 4.99478Z"
                    fill="#CF2D48" />
                <path
                    d="M8.0002 3.75V0C5.86332 0 3.85435 0.832156 2.34332 2.34313C2.0936 2.59284 1.86282 2.85644 1.65088 3.13172L4.34801 5.82884C5.09029 4.585 6.44945 3.75 8.0002 3.75Z"
                    fill="#EB4132" />
            </svg>
            Google
        </button>
        <p class="text-[12px] font-normal text-dark-grey mb-[24px]">Belum punya akun? <router-link to="/Register">Daftar
                di Sini</router-link>
        </p>
        <p class="text-[12px] font-normal text-dark-grey ml-[16px] mb-[38px]">Dengan masuk atau mendaftar, kamu
            menyetujui Ketentuan Layanan dan Kebijakan Privasi</p>

    </div>

</template>

<script>
import axios from 'axios';

export default {
    name: 'HeaderLogin',

    data() {
        return {
            username: "",
            password: "",
            error: "",
        }
    },

    methods: {
        async submit() {
            try {
                const response = await axios.post('auth/login', {
                    username: this.username,
                    password: this.password,
                    expiresInMins: 1,

                });

                axios.defaults.headers.common['Authorization'] = `Bearer ${response.data}`;
                localStorage.setItem("credentials", JSON.stringify(response.data));
                this.$router.push('/SuccessLogin')
                console.log(response)
            } catch (e) {
                if (this.username === "" && this.password === '') {
                    this.error = "Form Tidak Boleh Kosong";
                }
                if (this.username === "") {
                    this.error = "Form Tidak Boleh Kosong";
                }
                if (this.password === "") {
                    this.error = "Form Tidak Boleh Kosong";
                } else {
                    this.error = "Invalid Data";
                }

            }
        },
    },
};
</script>