<template>
    <div>
        <Appbar />
        <ContentOTP />
        <InputOTP />
        <div class="flex justify-center">
            <button
                class="mb-[24px] w-[343px] h-[53px] bg-green rounded-[100px] mt-[20px] font-semibold text-white">Masuk</button>
        </div>
    </div>
</template>

<script>
import Appbar from './Appbar/Appbar.vue';
import ContentOTP from './ContentOTP/ContentOTP.vue';
import InputOTP from './InputOTP/InputOTP.vue';

export default {
    name: "OTPMain",
    components: {
        Appbar,
        ContentOTP,
        InputOTP
    }
}
</script>