<template>
    <form class=" flex flex-col items-center mt-[24px]">
        <div class="relative">
            <input type="text"
                class="w-[343px] h-[53px] pl-[60px] rounded-[100px] font-[14px] py-1 bg-grey focus:outline-none focus:border-green transition-colors peer"
                autocomplete="off" placeholder="Nama Lengkap">
            <svg class="absolute top-[20px] left-[27px] " width="16" height="17" viewBox="0 0 16 17" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M13.5944 15.2169H13.6444V15.1669C13.6444 12.1133 11.1019 9.63311 7.98091 9.63311C4.85921 9.63311 2.3167 12.1133 2.3167 15.1669V15.2169H2.3667H3.71773H3.76773V15.1669C3.76773 12.9175 5.65492 11.0841 7.98024 11.0841C10.3056 11.0841 12.1934 12.9168 12.1934 15.1669V15.2169H12.2434H13.5944Z"
                    fill="#292929" stroke="#292929" stroke-width="0.1" />
                <path
                    d="M7.9809 9.29391C5.91119 9.29391 4.22638 7.6084 4.22637 5.53872L7.9809 9.29391ZM7.9809 9.29391C10.0519 9.29391 11.7368 7.60976 11.7368 5.5387C11.7368 3.46764 10.0519 1.7835 7.9809 1.7835C5.91053 1.7835 4.22569 3.46832 4.22637 5.5387L7.9809 9.29391ZM5.67672 5.5387C5.67672 4.26797 6.71017 3.23453 7.9809 3.23453C9.25098 3.23453 10.2857 4.268 10.2857 5.5387C10.2857 6.80942 9.25231 7.84287 7.9809 7.84287C6.71017 7.84287 5.67672 6.80943 5.67672 5.5387Z"
                    fill="#292929" stroke="#292929" stroke-width="0.1" />
            </svg>
        </div>
        <div class="relative mt-[16px]">
            <input type="text"
                class="w-[343px] h-[53px] pl-[60px] rounded-[100px] font-[14px] py-1 bg-grey focus:outline-none focus:border-green transition-colors peer"
                autocomplete="off" placeholder="Nomor Hp">
            <svg class="absolute top-[20px] left-[27px] " width="11" height="13" viewBox="0 0 11 13" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M3.5895 0.152742L3.0159 0.325542C2.50517 0.479565 2.04905 0.776283 1.70126 1.18077C1.35346 1.58526 1.12844 2.08069 1.0527 2.60874C0.815103 4.26314 1.3463 6.19754 2.6271 8.41594C3.9047 10.6287 5.3111 12.0543 6.8591 12.6783C7.35648 12.8788 7.90097 12.9322 8.42782 12.8322C8.95468 12.7323 9.44174 12.4831 9.8311 12.1143L10.2647 11.7031C10.5463 11.4367 10.7215 11.077 10.7578 10.6911C10.7942 10.3051 10.6892 9.91909 10.4623 9.60474L9.3775 8.10074C9.23084 7.8977 9.02432 7.74563 8.78688 7.66587C8.54945 7.5861 8.29301 7.58263 8.0535 7.65594L6.4127 8.15754L6.3703 8.16554C6.1895 8.19194 5.7719 7.80074 5.2519 6.89994C4.7079 5.95754 4.5959 5.40634 4.7455 5.26394L5.5799 4.48554C5.88503 4.20111 6.09347 3.8283 6.17596 3.4194C6.25846 3.0105 6.21088 2.58603 6.0399 2.20554L5.5103 1.02874C5.35105 0.674616 5.06846 0.390484 4.7152 0.229312C4.36195 0.0681391 3.96214 0.0409247 3.5903 0.152742H3.5895ZM4.7815 1.35674L5.3095 2.53354C5.41233 2.76173 5.44109 3.01639 5.39173 3.26176C5.34236 3.50713 5.21737 3.73087 5.0343 3.90154L4.1975 4.68074C3.6623 5.18794 3.8399 6.05354 4.5599 7.29994C5.2367 8.47274 5.8543 9.05194 6.5183 8.95114L6.6175 8.93034L8.2879 8.42074C8.36775 8.39622 8.45327 8.3973 8.53246 8.42384C8.61166 8.45039 8.68056 8.50105 8.7295 8.56874L9.8143 10.0727C9.92789 10.2299 9.98054 10.423 9.96244 10.616C9.94434 10.8091 9.85673 10.989 9.7159 11.1223L9.2815 11.5335C9.00338 11.7968 8.65553 11.9746 8.2793 12.0459C7.90307 12.1173 7.51427 12.0791 7.1591 11.9359C5.8007 11.3887 4.5167 10.0871 3.3207 8.01594C2.1215 5.93994 1.6359 4.17434 1.8447 2.72234C1.89875 2.34509 2.05946 1.99113 2.30792 1.70214C2.55637 1.41315 2.88222 1.20116 3.2471 1.09114L3.8207 0.918342C4.00667 0.862461 4.20661 0.876126 4.38325 0.956789C4.55988 1.03745 4.70115 1.17961 4.7807 1.35674H4.7815Z"
                    fill="black" />
            </svg>
        </div>
        <div class="relative mt-[16px]">
            <input type="text"
                class="w-[343px] h-[53px] pl-[60px] rounded-[100px] font-[14px] py-1 bg-grey focus:outline-none focus:border-green transition-colors peer"
                autocomplete="off" placeholder="Kode Referal (Opsional)">
            <svg class="absolute top-[20px] left-[27px] " width="14" height="15" viewBox="0 0 14 15" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M3.09423 4.68756C3.09423 5.98624 3.73147 7.13861 4.70899 7.8486C3.79495 8.17921 2.95692 8.70928 2.24938 9.41719C0.981567 10.6857 0.283252 12.3726 0.283252 14.1664V14.2164H0.333252H1.37431H1.42431V14.1664C1.42431 11.0925 3.92392 8.59162 6.99626 8.59162C9.14782 8.59162 10.8983 6.84029 10.8983 4.68756C10.8983 2.53482 9.14782 0.783496 6.99626 0.783496C4.84459 0.783496 3.09423 2.53482 3.09423 4.68756ZM13.702 10.4519L13.7373 10.4166L13.702 10.3812L11.2517 7.92969L11.2163 7.89431L11.181 7.92969L10.4448 8.66616L10.4094 8.70151L10.4448 8.73686L11.527 9.81962H10.7968C8.94821 9.81962 7.44311 11.3243 7.44156 13.1738L7.44074 14.166L7.4407 14.216L7.4907 14.216L8.53176 14.2168L8.58175 14.2169L8.5818 14.1669L8.58272 13.1748C8.58371 11.9544 9.57708 10.9613 10.7968 10.9613H11.5791L10.4448 12.0962L10.4095 12.1316L10.4448 12.1669L11.181 12.9035L11.2163 12.9389L11.2517 12.9035L13.702 10.4519ZM6.99626 7.45001C5.47391 7.45001 4.23528 6.21077 4.23528 4.68756C4.23528 3.16434 5.47391 1.9251 6.99626 1.9251C8.5185 1.9251 9.75713 3.16434 9.75713 4.68756C9.75713 6.21077 8.5185 7.45001 6.99626 7.45001Z"
                    fill="#292929" stroke="#292929" stroke-width="0.1" />
            </svg>
        </div>
        <router-link to="/VerifikasiOTP"><button
                class="w-[343px] h-[53px] bg-green rounded-[100px] mt-[432px] font-semibold text-white mb-[24px]">Masuk</button>
        </router-link>

    </form>




</template>

<script>

export default {
    name: "FormRegister",

}


</script>