<template>
    <div >
        <Appbar />
        <Form />
    </div>
</template>

<script>
import Appbar from './Appbar/Appbar.vue';
import Form from './Form/Form.vue';

export default {
    name: "RegisterMain",
    components: { Appbar, Form }

}
</script>